a.out
Makefile
main.c
bred.ppm

\.vscode/settings\.json

shear_stripes\.ppm

square_shear\.ppm

square\.ppm

visual_avg_color\.ppm

visual_color\.ppm

visual_gray\.ppm

results/

visual_hsv\.ppm

hitboxes/

ppms/
